$appRed: #BC5C4B !default;
$appYellow: #EECF68 !default;
$appLightBlue: #BBC2B6 !default;
$appDarkBlue: #255954 !default;
$appBlue: #528984 !default;
$appGreen: #a8b701 !default;
$appWhite: white !default;
$appDark: #3d3425 !default;

$titleFont: 'Montserrat', sans-serif !default;
$basicFont: 'Poppins', sans-serif !default;
$fontXSmall: 13px !default;
$fontSmall: 15px !default;
$fontMedium: 19px !default;
$fontLarge: 25px !default;
$fontXLarge: 28px !default;
