$appRed: #FF4848 !default;
$appYellow: #FFD371 !default;
$appLightBlue: #C2FFD9 !default;
$appBlue: #9DDAC6 !default;
$appDarkBlue: #111D5E !default;
$appGreen: #65c922 !default;
$appGrey: #7B8B94 !default;
$appWhite: white !default;

$basicFont: 'Rubik', sans-serif !default;
$fontXSmall: 13px !default;
$fontSmall: 15px !default;
$fontMedium: 19px !default;
$fontLarge: 23px !default;
$fontXLarge: 25px !default;