@use '../../assets/tokens' as *;

.header {
    z-index: 999;
    position: fixed;
    background-color: $appDark;
    cursor: default;
    box-shadow: 5px 5px 5px 15px;
}

.title {
    padding-left: 10px;
    font-size: $fontXLarge;
}

.btn {
    border: none;
    padding: 6px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.login {
    background-color: $appLightBlue;
    margin-right: 5px;
}
.register {
    background-color: $appDark;
    margin-right: 5px;
}

.login-btns, .logout-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

// **************************************************************
// Geocoder component

.geocoder {
    display: flex;
    position: relative;
    left: 25px;
    align-items: center;
}

@media (max-width: 640px) {
  .no-title {
      display: none;
  }
}