@use '../../assets/tokens' as *;

.login-container {
    z-index: 999;
    background-color: $appWhite;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 210px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.cancel {
    position: absolute;
    top: 8px;
    right: 8px;
    color: $appDarkBlue;
}

.logo {
    color: $appDarkBlue;
    display: flex;
    align-items: center;
}

.inputs {
    color: black;
    padding-top: 25px;
}

.inputs::placeholder {
    color: $appGrey;
}

.login-success, .login-error {
    text-align: center;
    font-size: $fontSmall;
}

.login-success {
    color: $appGreen;
}
.login-error {
    color: $appRed;
}